# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
venv/
env/
ENV/

# Buildozer / Kivy
.buildozer/
bin/
*.apk
*.aab
*.ipa

# App cache & data
*.json
!*.json.sample

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
